*{
  font-family: NanumSquareRoundOTF;
  font-size: 12px;
}

.wrap{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #88BDFF, #FFFFFF 50%);
  text-align: center;
}

.title{
  font-size: 2rem;
  display: none;
}

.logo{
  margin: 10px;
}

.signin-form{
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 25rem;
  min-width: 15rem;
}

.signin-label{
  /* font-family: ; */
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.signin-form input{
  margin-bottom: 2rem;
  font-size: 1rem;
  border: none;
  line-height: 3;
  padding-left: 0.7rem;
  background-color: #ececec;
  border-radius: 5px;
}

#signin{
  background-color: #2665fe;
  border: none;
  color: #FFFFFF;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#signin:hover{
  color: #000000;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 25rem;
  min-width: 15rem;
  text-align: left;
}

.signup-label-space{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0px 8px;
}

.signup-label{
  font-size: 14px;
  font-weight: 500;
}

.checkid{
  width: 43px;
  height: 16px;
  padding: 0px;
  margin-left: 10px;
  border: 0.8px solid #CCCCCC;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 8px;
  color: #CCCCCC;
}

.userinput{
  border: none;
  line-height: 3;
  padding-left: 15px;
  background-color: #ececec;
  border-radius: 5px;
}

.signup-message{
  margin-top: 5px;
  margin: 5px 0px 0px 5px;
}

.signup-address{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.code-space{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.postcode{
  width: 60%;
}

.findbuttn{
  padding: 0px;
  width: 40%;
  text-align: center;
  margin-left: 10px;
  background-color: #ffffff;
  border: 0.5px solid #2665fe;
}

.findbuttn:hover{
  color: #ffffff;
  background-color: #2665fe;
}

#signup{
  padding: 0;
  margin-top: 60px;
  background-color: #2665fe;
  color: #ffffff;
  font-size: 14px;
}

