.container{
    position: relative;
    width: 100%;
    max-width: 412px;
    height: 100dvh;
    margin: 0px auto;
    overflow: hidden;
    flex-direction: column;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #FFF 62.5%, #88BDFF 100%);
}

.layer{
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width:412px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
}

.layer.textshow{
  opacity: 1;
  transform: translateY(0);
  transition: none;
}

.layer.fadeout{
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 700ms ease-out, transform 700ms ease-out;
}

.layer.show{
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 700ms ease-out, transform 700ms ease-out;
}

.layer.hide{
  opacity: 0;
}

.slogan{
  margin:0 16px;
  font-weight:700;
  color:#000000;
  font-size:25px;
}

.logo-container{
  display:flex; 
  flex-direction:column; 
  align-items:center;
}

.logo{
  max-width:105px;
  height:auto;
}